<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="logs"/>
    <springProperty scope="context" name="LOG_FILE_NAME" source="logging.file.name" defaultValue="openmanus-java"/>
    <springProperty scope="context" name="CONSOLE_LOG_PATTERN"
                    source="logging.pattern.console"
                    defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{taskId} - %msg%n%throwable"/>
    <springProperty scope="context" name="FILE_LOG_PATTERN"
                    source="logging.pattern.file"
                    defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{taskId} - %msg%n%throwable"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- days to keep -->
            <totalSizeCap>1GB</totalSizeCap> <!-- total size of all archive files -->
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Optional: JSON Appender for structured logging, e.g., for ELK/Splunk -->
    <!--
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>taskId</includeMdcKeyName>
        </encoder>
    </appender>
    -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <!-- <appender-ref ref="STDOUT_JSON"/> -->
    </root>

    <!-- Application specific log levels (can also be set in application.properties) -->
    <logger name="io.github.myuser.openmanusjava" level="DEBUG" additivity="false">
         <appender-ref ref="STDOUT"/>
         <appender-ref ref="FILE"/>
         <!-- <appender-ref ref="STDOUT_JSON"/> -->
    </logger>

    <!-- Example: Quieter Hibernate/Spring logs -->
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO"/>

</configuration>
